@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground);
}

:root {
  --background: #fcf9ee;
  --foreground: #292929;
  --card: #f7f4e9;
  --card-foreground: #292929;
  --button: #292929;
  --button-foreground: #fcf9ee;
}

@layer base {
  h3 {
    @apply text-lg md:text-xl font-medium;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
}
